.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid black;
  background-color: lightseagreen;
}
.navigation .link {
  display: flex;
  text-decoration: none;
}